---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dglunz/moodring?client_id=&client_secret=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1422408410'
      Last-Modified:
      - Tue, 27 Jan 2015 03:42:36 GMT
      Etag:
      - W/"543fc1ec6ad9f2f2296e161a04ed2bdf"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":28995044,"name":"moodring","full_name":"dglunz/moodring","owner":{"login":"dglunz","id":2965795,"avatar_url":"https://avatars.githubusercontent.com/u/2965795?v=3","gravatar_id":"","url":"https://api.github.com/users/dglunz","html_url":"https://github.com/dglunz","followers_url":"https://api.github.com/users/dglunz/followers","following_url":"https://api.github.com/users/dglunz/following{/other_user}","gists_url":"https://api.github.com/users/dglunz/gists{/gist_id}","starred_url":"https://api.github.com/users/dglunz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dglunz/subscriptions","organizations_url":"https://api.github.com/users/dglunz/orgs","repos_url":"https://api.github.com/users/dglunz/repos","events_url":"https://api.github.com/users/dglunz/events{/privacy}","received_events_url":"https://api.github.com/users/dglunz/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dglunz/moodring","description":":ring:
        Sentiment Analysis of Commit Messages","fork":false,"url":"https://api.github.com/repos/dglunz/moodring","forks_url":"https://api.github.com/repos/dglunz/moodring/forks","keys_url":"https://api.github.com/repos/dglunz/moodring/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dglunz/moodring/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dglunz/moodring/teams","hooks_url":"https://api.github.com/repos/dglunz/moodring/hooks","issue_events_url":"https://api.github.com/repos/dglunz/moodring/issues/events{/number}","events_url":"https://api.github.com/repos/dglunz/moodring/events","assignees_url":"https://api.github.com/repos/dglunz/moodring/assignees{/user}","branches_url":"https://api.github.com/repos/dglunz/moodring/branches{/branch}","tags_url":"https://api.github.com/repos/dglunz/moodring/tags","blobs_url":"https://api.github.com/repos/dglunz/moodring/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dglunz/moodring/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dglunz/moodring/git/refs{/sha}","trees_url":"https://api.github.com/repos/dglunz/moodring/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dglunz/moodring/statuses/{sha}","languages_url":"https://api.github.com/repos/dglunz/moodring/languages","stargazers_url":"https://api.github.com/repos/dglunz/moodring/stargazers","contributors_url":"https://api.github.com/repos/dglunz/moodring/contributors","subscribers_url":"https://api.github.com/repos/dglunz/moodring/subscribers","subscription_url":"https://api.github.com/repos/dglunz/moodring/subscription","commits_url":"https://api.github.com/repos/dglunz/moodring/commits{/sha}","git_commits_url":"https://api.github.com/repos/dglunz/moodring/git/commits{/sha}","comments_url":"https://api.github.com/repos/dglunz/moodring/comments{/number}","issue_comment_url":"https://api.github.com/repos/dglunz/moodring/issues/comments/{number}","contents_url":"https://api.github.com/repos/dglunz/moodring/contents/{+path}","compare_url":"https://api.github.com/repos/dglunz/moodring/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dglunz/moodring/merges","archive_url":"https://api.github.com/repos/dglunz/moodring/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dglunz/moodring/downloads","issues_url":"https://api.github.com/repos/dglunz/moodring/issues{/number}","pulls_url":"https://api.github.com/repos/dglunz/moodring/pulls{/number}","milestones_url":"https://api.github.com/repos/dglunz/moodring/milestones{/number}","notifications_url":"https://api.github.com/repos/dglunz/moodring/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dglunz/moodring/labels{/name}","releases_url":"https://api.github.com/repos/dglunz/moodring/releases{/id}","created_at":"2015-01-09T01:35:06Z","updated_at":"2015-01-27T03:42:36Z","pushed_at":"2015-01-27T03:42:35Z","git_url":"git://github.com/dglunz/moodring.git","ssh_url":"git@github.com:dglunz/moodring.git","clone_url":"https://github.com/dglunz/moodring.git","svn_url":"https://github.com/dglunz/moodring","homepage":"","size":472,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","network_count":1,"subscribers_count":0}'
  recorded_at: Wed, 28 Jan 2015 00:58:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dglunz/moodring/commits?client_id=&client_secret=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1422408410'
      Last-Modified:
      - Tue, 27 Jan 2015 03:42:30 GMT
      Etag:
      - W/"95841b2e5ad421d148c55eea1bc78ba4"
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/repositories/28995044/commits?client_id=&client_secret=&page=2>;
        rel="next"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"625c7c65f56747e646946c2e67a9ddd5cdffffbf","commit":{"author":{"name":"Daniel
        Glunz","email":"dannyglunz@gmail.com","date":"2015-01-27T03:42:30Z"},"committer":{"name":"Daniel
        Glunz","email":"dannyglunz@gmail.com","date":"2015-01-27T03:42:30Z"},"message":"sortable
        messages and sentiment on the homepage table","tree":{"sha":"1f8aa11424a5244f07df44a3941f4a7c44963e81","url":"https://api.github.com/repos/dglunz/moodring/git/trees/1f8aa11424a5244f07df44a3941f4a7c44963e81"},"url":"https://api.github.com/repos/dglunz/moodring/git/commits/625c7c65f56747e646946c2e67a9ddd5cdffffbf","comment_count":0},"url":"https://api.github.com/repos/dglunz/moodring/commits/625c7c65f56747e646946c2e67a9ddd5cdffffbf","html_url":"https://github.com/dglunz/moodring/commit/625c7c65f56747e646946c2e67a9ddd5cdffffbf","comments_url":"https://api.github.com/repos/dglunz/moodring/commits/625c7c65f56747e646946c2e67a9ddd5cdffffbf/comments","author":{"login":"dglunz","id":2965795,"avatar_url":"https://avatars.githubusercontent.com/u/2965795?v=3","gravatar_id":"","url":"https://api.github.com/users/dglunz","html_url":[...]
