<div class="repo-detail">
  <h1><%= @repo.owner %>'s project<br><%= @repo.name %></h1>
    <table class="table table-hover table-condensed" id="detail-table">
      <tbody></tbody>
    </table>
    <% if !current_user %>
      <p>For fancy graphs and full analysis, sign up with github</p>
      <a href="/auth/github"><i class="fa fa-github signup"></i></a>
    <% end %>
</div>
