<header class="intro">
<div class="intro-body">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading">Mood<br>Ring</h1>
        <div class="row">
          <a href="#" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</header>

