<div class="col-md-6 col-md-offset-3">
  <h1 class="text-center"><%= @user.name %></h1>
  <h3 class="text-center">Public Repos</h3>
  <div class="list-group">
    <% @user.public_repos.each do |repo| %>
      <%= link_to "#{repo}", new_repo_path(repo: repo), class: "list-group-item" %>
    <% end %>
  </div>
  <% if @user.private_repos.any? %>
    <h3 class="text-center">Private Repos</h3>
    <div class="list-group">
      <% @user.private_repos.each do |repo| %>
        <a href="#" class="list-group-item"><%= repo %></a>
      <% end %>
    </div>
  <% end %>
</div>
