<div>
  <h1><%= @user.name %></h1>
  <h3>Public Repos</h3>
  <div class="list-group">
    <% @user.public_repos.each do |repo| %>
      <%= link_to "#{repo}", new_repo_path(repo: repo), class: "list-group-item" %>
    <% end %>
  </div>
  <% if @user.private_repos.any? %>
    <h3>Private Repos</h3>
    <div class="list-group">
      <% @user.private_repos.each do |repo| %>
        <a href="#" class="list-group-item"><%= repo %></a>
      <% end %>
    </div>
  <% end %>
</div>
