.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #1693A5;
}

.progress-meter text {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  font-weight: 100;
}
