.light {
  font-weight: 100;
}

.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #1693A5;
}

.progress-meter text {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  font-weight: 100;
}
svg {
  font: 10px sans-serif;
}

.area {
  fill: rgb(153, 216, 201);
  clip-path: url(#clip);
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.footer {
  height: 30px;
}
