<nav class="navbar navbar-custom" role="navigation">
<% if !current_page? root_url %>
<ul class="nav navbar-nav navbar-left">
<li><%= link_to "Mood Ring", root_path %></li>
</ul>
<% end %>
<ul class="nav navbar-nav navbar-right text-right">
  <% if current_user %>
    <div class="dropdown">
      <a data-toggle="dropdown">
        <%= image_tag current_user.avatar, class: "img-responsive img-circle avatar" %>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Logout", logout_path, method: 'delete' %></li>
      </ul>
    </div>
  <% else %>
    <li><a href="/auth/github"><i class="fa fa-github"></i></a></li>
  <% end %>
</ul>
</nav>
