<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="navbar-header">
  <% if current_page? root_path %>
  <% else %>
    <a class="navbar-brand" href="#page-top"><span class="light">Mood</span> Ring</a>
  <% end %>
</div>
<ul class="nav navbar-nav navbar-right text-right">
  <% if current_user %>
    <li><%= link_to "Logout", logout_path, method: 'delete' %></li>
  <% else %>
    <li><a href="/auth/github"><i class="fa fa-github"></i></a></li>
  <% end %>
</ul>
</nav>
